# Run: id -u (then set the number below)
AIRFLOW_UID=<your_user_id>

# Generate with: python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=<generate_your_own>

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=<choose_a_password>
AIRFLOW_CONN_GOOGLE_CLOUD_DEFAULT=google-cloud-platform://
