.env
.venv/
logs/
__pycache__/
*.pyc
dags/dbt/*/target/
dags/dbt/*/dbt_packages/
*.json
!requirements.txt
secrets/
config/
.pytest_cache/
.ruff_cache/
.vscode/
target/
dbt_packages/
dbt_internal_packages/
dags/dbt/cima_dbt/profiles.yml
.user.yml
